<h2>Добавяне на категория</h2>

<form method="post" enctype="multipart/form-data" action="{$URL}admin/?page={$PAGE}&amp;action=add">
	<table class="layout" style="width: 500px">
		<tr>
			<th>Език</th>
			<td>
				<select name="lang" class="text" id="onChangeLanguage" data-which="categories">
				{section name=i loop=$LANGS}
					<option value="{$LANGS[i].id}" {if $RESULT.lang eq $LANGS[i].id}selected="selected"{/if}>{$LANGS[i].name} ({$LANGS[i].native})</option>
				{/section}
				</select>
			</td>
		</tr>
		<tr>
			<th>Страница</th>
			<td>
				<select name="page" class="text" id="pages">
				{section name=i loop=$PAGES}
					<option value="{$PAGES[i].id}" {if $RESULT.page eq $PAGES[i].id}selected="selected"{/if}>{$PAGES[i].name}</option>
				{/section}
				</select>

				{if $ERRORS.page}<div class="small-error">{$ERRORS.page}</div>{/if}
			</td>
		</tr>
		<tr>
			<th>Категория</th>
			<td>
				<input type="text" class="text" name="name" value="{$RESULT.name|escape}" />
				{if $ERRORS.name}<div class="small-error">{$ERRORS.name}</div>{/if}
			</td>
		</tr>
		<tr>
			<th>Опции</th>
			<td>
				<label><input type="checkbox" name="visible" value="1" {if NOT isset($RESULT.visible) OR $RESULT.visible}checked="checked"{/if} /> Показване в страничния панел</label>
				{if $ERRORS.visible}<div class="small-error">{$ERRORS.visible}</div>{/if}
			</td>
		</tr>
		<tr>
			<th class="top">Икона</th>
			<td>
				<div id="icons-list">
					<a class="icon empty {if NOT $RESULT.icon}selected{/if}" href="#" data-id="0"></a>
				{section name=i loop=$ICONS}
					<a class="icon {if $RESULT.icon eq $ICONS[i].id}selected{/if}" href="#" data-id="{$ICONS[i].id}">
						<img src="{$ICONS[i].image}" alt="" title=""/>
					</a>
				{/section}
				</div>

				<input type="hidden" name="icon" value="{$RESULT.icon|default:'0'}" id="icons-list-select" />

				{if $ERRORS.icon}<div class="small-error">{$ERRORS.icon}</div>{/if}
			</td>
		</tr>
	</table>

	<div class="buttons">
		<span class="button"><button type="submit" name="submit">Добавяне</button></span>
	</div>

</form>