<div class="searchbar">
	<div class="filter">
		<div class="search">
			<form method="get" action="{$URL}admin/" >
				<input type="hidden" name="page" value="{$PAGE}" />
				<input type="text" value="{$SEARCH|escape}" class="text" name="search" /><span class="search-button"><input type="submit" value="&nbsp;" class="submit" name="търсене" /></span>
			</form>
		</div>
		<div class="operations">
			<div class="lang">
				<form method="post" action="{$URL}admin/?page={$PAGE}">
					<label>Език:</label>
					<select name="lang" class="text" onchange="this.form.submit()">
						{section name=i loop=$LANGS}
						<option value="{$LANGS[i].id}" {if $LANGS[i].selected}selected="selected"{/if}>{$LANGS[i].name|escape}</option>
						{/section}
					</select>
				</form>
			</div>
			<a class="button" href="{$URL}admin/?page={$PAGE}&amp;action=sort">Подреждане</a>
			<a class="button" href="{$URL}admin/?page={$PAGE}&amp;action=add">Нова категория</a>
		</div>
	</div>

	{if $ORDERS}
	<div class="orders">
		<ul>
		{foreach from=$ORDERS key=k item=i name="orders"}
			<li>
			{if $i.order|lower eq "asc"}
				<a class="icon" title="Низходящо сортиране" href="{$URL}admin/?page={$PAGE}&amp;sort={$i.key}&amp;order=desc&amp;search={$SEARCH|escape}"><span class="down"></span>{$i.name}</a>
			{else}
				<a class="icon" title="Възходящо сортиране" href="{$URL}admin/?page={$PAGE}&amp;sort={$i.key}&amp;order=asc&amp;search={$SEARCH|escape}"><span class="up"></span>{$i.name}</a>
			{/if}
				<a class="icon remove" title="Премахване" href="{$URL}admin/?page={$PAGE}&amp;sort={$i.key}&amp;delorder=&amp;search={$SEARCH|escape}"><span class="empty remove"></span></a>
			</li>
		{/foreach}
		</ul>
	</div>
	{/if}
</div>

<table class="list">
	<thead>
		<tr>
			<th style="width: 60px">№</th>
			<th>
				<a title="Сортиране по име на категория" href="{$URL}admin?page={$PAGE}&amp;sort=name&amp;order={$ORDER|default:'asc'}&amp;search={$SEARCH|escape}">Категория
			</th>
			<th>
				<a title="Сортиране по видимост" href="{$URL}admin?page={$PAGE}&amp;sort=visible&amp;order={$ORDER|default:'asc'}&amp;search={$SEARCH|escape}">Видима в страничния панел</a>
			</th>
			<th>
				<a title="Сортиране по заглавие на страница" href="{$URL}admin?page={$PAGE}&amp;sort=article&amp;order={$ORDER|default:'asc'}&amp;search={$SEARCH|escape}">Страница</a>
			</th>

			<th>
				<a title="Сортиране по дата и час на добавяне" href="{$URL}admin?page={$PAGE}&amp;sort=added&amp;order={$ORDER|default:'asc'}&amp;search={$SEARCH|escape}">Добавено
			</th>

			<th  style="width: 120px">Операции</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th colspan="6">Общо: {$COUNT|default:0}</th>
		</tr>
	</tfoot>
	<tbody>
	{section name=i loop=$RESULT}
		<tr {if $RESULT[i].odd} class="odd" {/if}>
			<td>&nbsp;{$RESULT[i].nr}</td>
			<td>
				{if $RESULT[i].image}<img src="{$RESULT[i].image}" alt="" title="" />{/if}
				{$RESULT[i].name}
			</td>
			<td class="center">{if $RESULT[i].visible}Да{else}<span style="color: red">Не</span>{/if}</td>
			<td>{$RESULT[i].article}</td>
			<td class="center">{$RESULT[i].added}</td>
			<td class="center">
				<a class="icon" title="Редакция" href="{$URL}admin?page={$PAGE}&amp;action=edit&amp;id={$RESULT[i].id}" ><span class="edit"></span></a>
				|
				<a class="icon" title="Изтриване" data-warning="true" href="{$URL}admin?page={$PAGE}&amp;action=delete&amp;token={$TOKEN}&amp;id={$RESULT[i].id}"><span class="delete"></span></a>
			</td>
		</tr>
	{sectionelse}
		<tr>
			<td colspan="6" class="center">Няма намерени резултати!</td>
		</tr>
	{/section}
	</tbody>
</table>

{if $PAGING}<div class="pagination">{$PAGING}</div>{/if}
