<div id="intro">
	<div class="panel">
		<h2>Начало</h2>
		<ul class="icons">
			<li><a href="{$URL}admin/?page=articles">
					<img src="{$URL}images/admin/icons/articles.png" alt="" />
					Страници
			</a></li>
			
			<li><a href="{$URL}admin/?page=news">
					<img src="{$URL}images/admin/icons/news.png" alt="" />
					Новини
			</a></li>

			<li><a href="{$URL}admin/?page=languages">
					<img src="{$URL}images/admin/icons/languages.png" alt="" />
					Езици
			</a></li>

			<li><a href="{$URL}admin/?page=prices">
					<img src="{$URL}images/admin/icons/money.png" alt="" />
					Цени
			</a></li>

			<li><a href="{$URL}admin/?page=users">
					<img src="{$URL}images/admin/icons/users.png" alt="" />
					Потребители
			</a></li>

		</ul>
	</div>
</div>


